version: '3.9'
services:
  auth:
    build: ./services/auth
    ports:
      - "8000:8000"
  api:
    build: ./services/api
    ports:
      - "5000:5000"
  frontend:
    build: ./services/frontend
    ports:
      - "3000:80"
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./deploy/nginx:/etc/nginx/conf.d
